<div class="intro">
 <div class="header">
   <ul class="nav nav-pills pull-right">
   </ul>
   <a href="http://whatiseurope.org" ><h1>What is Europe?</h1></a>
   <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia lectus vel ipsum ultricies, eu ullamcorper turpis volutpat.
   </p>
 </div>
 <div id="bg-animation"><img src="/assets/eu.svg" alt="EU"></div>
 <!--<div id="stars"><img src="/assets/stars.png" alt="EU" width="200" height="200"></div>--!>
</div>
