<div class="what_is_europe">
  <h1>What's in Europe?</h1>
  <p>A series of different bar chart / line charts</p>
  <ul>
    <li>What is the landmass of Europe?</li>
    <li>What is the population of Europe?</li>
  </ul>
</div>
