<div class="who_is_europe">
    <h1>People and Europe</h1>
    <p>
      Static maps or infographics that answer practical questions about contemporary european continent:
     </p>
     <p>
     Money and Economics
     </p>
     <ul>
       <li>How many currencies are there in Europe?</li>
       <li>What is the average wage per hour in comparison to the cost of a loaf of bread?</li>
       <li>Where can I use the Euro?</li>
     </ul>
     <p>
     Population
     </p>
     <ul>
       <li>What are the main languages of Europe? Where can I speak them?</li>
       <li>What is the demographic breakdown of Europe by age range?</li>
     </ul>
</div>
