<div class="megamenu">
  <div class="row groupings toggled">
    <div class="col-md-6 menuwrap">
      <label for="show_countries">
        Country Label: <input type="checkbox" data-on-color="warning" data-off-color="default" name="show_countries" value="show_countries" data-size="small">
      </label>
      <label for="show_capitals">
       Capital Cities: <input type="checkbox" data-on-color="warning" data-off-color="default" name="show_capitals" value="show_capitals" data-size="small">
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="infobox col-md-3 sidebar">
  </div>
  <div class="col-md-8 mapview">
    <div class="yearwrap"><span class="year"></span></div>
    <div id="world-map-gdp" style="width: 100%; height: 600px;">
        <div class="wrap"></div>
    </div>
  </div>
</div>
<div class="row sliderwrap">
  <div id="slider"></div>
</div>
<script>
grouping = <%= @grouping.to_json.html_safe %>;
data = <%= @data.to_json.html_safe %>;
key_dates = <%= @key_dates.to_json.html_safe %>;


var countries = new CountryList(data);
$(function(){
  load_color_map();
  load_megamenu();
  year = 2014;
  load_checkboxes();
  load_slider(year);
  load_key_dates();
  load_grouping(grouping);
  $( window ).resize(setMapScale);
  $(window).resize(function() {
    $(".sliderwrap").html('<div id="slider"></div>');
    reload(window.year);
    load_slider(window.year);
    load_key_dates();
  });
});
</script>
