<div class="row">
  <div class="col-md-2 sidebar">
    <h1>Council of Europe</h1>
    <div id="more">
    <h5>Overview</h5>
    <p>Organization of countries that have signed the European Convention on Human Rights to protect human rights, democracy and the rule of law.
    </p>
    <ul>
      <li><h5>Established:</h5> </br><a href="/">1949</a></li>
      <li><h5>Members:</h5> </br>47</li>
      <li><h5>Headquarters:</h5> </br><a href="/">Strasbourg, France</a></li>
    </ul>
    <h5>Read More</h5>
    </div>
    <h1>Eurozone</h1>
    <div id="more">
    <h5>Overview</h5>
    <span class="caret sidebar"></span>
    </div>

  </div>
  <div class="col-md-10 mapview">
    <div class="yearwrap"><span class="year"></span></div>
    <div id="world-map-gdp" style="width: 100%; height: 600px;">
        <div class="wrap"></div>
    </div>
  </div>
</div>
<div class="row sliderwrap">
  <div id="slider"></div>
</div>
<script>
  $( window ).resize(setMapScale);
  function setMapScale() {
    map.setScale(map.width/1000, map.width, map.height);
  }
  var map;
  var current_map = '';
  function load_map(name) {
    if (name == window.current_map)
      return; // noop
    window.current_map = name;
    $('#world-map-gdp .wrap').remove();
    $('#world-map-gdp').html('<div class="wrap"></div>');
    window.map = new jvm.WorldMap({
      container: $('#world-map-gdp .wrap'),
      map: name,
      zoomOnScroll: false,
      series: {
        regions: [{
          values: {},
          scale: ['#C8EEFF', '#E7A329'],
          normalizeFunction: 'polynomial'
        }]
      },
      onLabelShow: function(e, el, code){
        el.html(el.html()+' (GDP - '+gdpData[code]+')');
      },
      onRegionClick: function(e, gis) {
        showCountry(e,countries.find(function(d){return d.get('gis') == gis }));
      }
    });
    setMapScale();

  }
  function showCountry(ev, country) {
    $(".tips").remove();
    emt = $('<div class="tips"><pre>'+JSON.stringify(country.toJSON())+'</pre></div>');
    $(emt).css({
      'z-index': 1000,
      'padding': "10px",
      'left':    ($(ev.currentTarget).offset().left - 100)+ 'px',
      'top':     '10px'
    });
    $("#world-map-gdp").append(emt);
  }
  $(function(){
    load_map('1945_mill_en');
    $( "#slider" ).slider({
        min: 1945,
        max: 2014,
        step: 1,
        animate: 'fast',
        slide: function( event, ui ) {
          $(".year").text(ui.value);
          if(ui.value < 1960) {
            load_map('1945_mill_en');
          } else if(ui.value < 1995) {
            load_map('1994_mill_en');
          } else {
            load_map('2013_mill_en');
          }
          window.map.series.regions[0].clear();
          window.map.series.regions[0].setValues(getCoe(ui.value));
        }
     });
  });

function getCoe(current_year) {
  result = _.filter(window.coe, function(countries, year) {
    return year <= current_year;
  });
  out = {};
  _.each(_.flatten(result), function(country) {
   out[country] = 12;
  });
  return out;
}
coe = {
1949: ['GRC','BEL','DNK', 'FRA','IRL','ITA','LUX','NLD','SWE','GBR'] ,
1950: ['DEU'],
1956: ['AUT'],
1961: ['CYP'],
1965: ['MLT'],
1976: ['PRT'],
1977: ['ESP'],
1989: ['FIN'],
1990: ['HUN'],
1992: ['BGR'],
1993: ['CZE','EST','LIT','ROU','SVK','SVN'],
1991: ['POL'],
1995: ['LVA'],
2007: ['MNE']
}
var Country = Backbone.Model.extend({
});
var CountryList = Backbone.Collection.extend({
    model: Country
});

data = <%= @data.to_json.html_safe %>;
//data = [{"name":"Austria","gis":"AUT","capital":"Vienna","population":"8.3 million","landmass":"83870","gdp":0,"currency":"€, EUR","eu_at":1995,"eurozone_at":1999,"coe_at":1956,"in_eu_customs":"1","schengen_at":1995},{"name":"Belgium","gis":"BEL","capital":"Brussels","population":"10.7 milion","landmass":"30528","gdp":0,"currency":"€, EUR","eu_at":1952,"eurozone_at":1999,"coe_at":1949,"in_eu_customs":"1","schengen_at":1985},{"name":"Bulgaria","gis":"BGR","capital":"Sofia","population":"7.6 million","landmass":"111990","gdp":0,"currency":"lev (лв), BGN","eu_at":2007,"eurozone_at":0,"coe_at":1992,"in_eu_customs":"1","schengen_at":0},{"name":"Croatia","gis":"HRV","capital":"Zagreb","population":"4.4 million","landmass":"56594","gdp":0,"currency":"kuna, HRK","eu_at":2013,"eurozone_at":2015,"coe_at":0,"in_eu_customs":"","schengen_at":0},{"name":"Cyprus","gis":"CYP","capital":"Nicosia","population":"0.8 million","landmass":"9250","gdp":0,"currency":"€, EUR","eu_at":2004,"eurozone_at":2008,"coe_at":1961,"in_eu_customs":"1","schengen_at":0},{"name":"CzechRepublic","gis":"CZE","capital":"Prague","population":"10.5 million","landmass":"78866","gdp":0,"currency":"koruna (Kč), ZCK","eu_at":2004,"eurozone_at":0,"coe_at":1993,"in_eu_customs":"1","schengen_at":2007},{"name":"Denmark","gis":"DNK","capital":"Copenhagen","population":"5.5 million","landmass":"43094","gdp":0,"currency":"krone (kr), DKK","eu_at":1973,"eurozone_at":0,"coe_at":1949,"in_eu_customs":"1","schengen_at":1996},{"name":"Estonia","gis":"EST","capital":"Tallin","population":"1.3 million","landmass":"45000","gdp":0,"currency":"€, EUR","eu_at":2004,"eurozone_at":2011,"coe_at":1993,"in_eu_customs":"1","schengen_at":2007},{"name":"Finland","gis":"FIN","capital":"Helsinki","population":"5.3 million","landmass":"338000","gdp":0,"currency":"€, EUR","eu_at":1995,"eurozone_at":1999,"coe_at":1989,"in_eu_customs":"1","schengen_at":1996},{"name":"France","gis":"FRA","capital":"Paris","population":"64.3 million","landmass":"550000","gdp":0,"currency":"€, EUR","eu_at":1952,"eurozone_at":1999,"coe_at":1949,"in_eu_customs":"1","schengen_at":1985},{"name":"Germany","gis":"DEU","capital":"Berlin","population":"82 million","landmass":"356854","gdp":0,"currency":"€, EUR","eu_at":1952,"eurozone_at":1999,"coe_at":1950,"in_eu_customs":"1","schengen_at":1985},{"name":"Greece","gis":"GRC","capital":"Athens","population":"11.2 million","landmass":"131957","gdp":0,"currency":"€, EUR","eu_at":1981,"eurozone_at":2001,"coe_at":1949,"in_eu_customs":"1","schengen_at":1992},{"name":"Hungary","gis":"HUN","capital":"Budapest","population":"10 million","landmass":"93000","gdp":0,"currency":"forint (Ft), HUF","eu_at":2004,"eurozone_at":0,"coe_at":1990,"in_eu_customs":"1","schengen_at":2007},{"name":"Ireland","gis":"IRL","capital":"Dublin","population":"4.5 million","landmass":"70000","gdp":0,"currency":"€, EUR","eu_at":1973,"eurozone_at":1999,"coe_at":1949,"in_eu_customs":"1","schengen_at":0},{"name":"Italy","gis":"ITA","capital":"Rome","population":"50 million","landmass":"301263","gdp":0,"currency":"€, EUR","eu_at":1952,"eurozone_at":1999,"coe_at":1949,"in_eu_customs":"1","schengen_at":1990},{"name":"Latvia","gis":"LVA","capital":"Riga","population":"2.3 million","landmass":"65000","gdp":0,"currency":"€, EUR","eu_at":2004,"eurozone_at":2013,"coe_at":1995,"in_eu_customs":"1","schengen_at":2007},{"name":"Lithuania","gis":"LTU","capital":"Vinius","population":"3.3 million","landmass":"65000","gdp":0,"currency":"litas (Lt), LTL","eu_at":2004,"eurozone_at":0,"coe_at":1993,"in_eu_customs":"1","schengen_at":2007},{"name":"Luxembourg","gis":"LUX","capital":"Luxembourg","population":"0.5 million","landmass":"2586","gdp":0,"currency":"€, EUR","eu_at":1952,"eurozone_at":1999,"coe_at":1949,"in_eu_customs":"1","schengen_at":1985},{"name":"Malta","gis":"MLT","capital":"Valletta","population":"0.4 million","landmass":"316","gdp":0,"currency":"€, EUR","eu_at":2004,"eurozone_at":2008,"coe_at":1965,"in_eu_customs":"1","schengen_at":2007},{"name":"Netherlands","gis":"NLD","capital":"Amsterdam","population":"16.4 million","landmass":"41526","gdp":0,"currency":"€, EUR","eu_at":1952,"eurozone_at":1999,"coe_at":1949,"in_eu_customs":"1","schengen_at":1985},{"name":"Poland","gis":"POL","capital":"Warsaw","population":"38.1 million","landmass":"312679","gdp":0,"currency":"Zloty (zł)","eu_at":2004,"eurozone_at":0,"coe_at":1991,"in_eu_customs":"1","schengen_at":2007},{"name":"Portugal","gis":"PRT","capital":"Lisbon","population":"10.6 million","landmass":"92072","gdp":0,"currency":"€, EUR","eu_at":1986,"eurozone_at":1999,"coe_at":1976,"in_eu_customs":"1","schengen_at":1991},{"name":"Romania","gis":"ROU","capital":"Bucharest","population":"21.5 million","landmass":"237500","gdp":0,"currency":"leu, RON","eu_at":2007,"eurozone_at":0,"coe_at":1993,"in_eu_customs":"1","schengen_at":0},{"name":"Slovakia","gis":"SVK","capital":"Bratislava","population":"5.4 million","landmass":"48845","gdp":0,"currency":"€, EUR","eu_at":2004,"eurozone_at":2009,"coe_at":1993,"in_eu_customs":"1","schengen_at":2007},{"name":"Slovenia","gis":"SVN","capital":"Ljubljana","population":"2 million","landmass":"20273","gdp":0,"currency":"€, EUR","eu_at":2004,"eurozone_at":2007,"coe_at":1993,"in_eu_customs":"1","schengen_at":2007},{"name":"Spain","gis":"ESP","capital":"Madrid","population":"45.8 million","landmass":"504782","gdp":0,"currency":"€, EUR","eu_at":1986,"eurozone_at":1999,"coe_at":1977,"in_eu_customs":"1","schengen_at":1991},{"name":"Sweden","gis":"SWE","capital":"Stockholm","population":"9.2 million","landmass":"449964","gdp":0,"currency":"krona (kr), SEK","eu_at":1995,"eurozone_at":0,"coe_at":1949,"in_eu_customs":"1","schengen_at":1996},{"name":"UnitedKingdom","gis":"GBR","capital":"London","population":"61.7 million","landmass":"244820","gdp":0,"currency":"pound sterling (£), GBP","eu_at":1973,"eurozone_at":0,"coe_at":1949,"in_eu_customs":"1","schengen_at":0}];
var countries = new CountryList(data)




</script>
