<div class="megamenu">
  <div class="configure-band">
    <a class="toggler" href="#">
      <h4>Map configuration</h4> &nbsp; <span class="the-caret">&#9660;</span>
     </a>
  </div>
  <div class="row groupings toggled">
    <div class="col-md-4 menuwrap">
      <h3>Viewing Options</h3>
      <p>Show country names - TOGGLE GOES HERE</p>
      <p>Show capital cities - TOGGLE GOES HERE</p>
    </div>
    <!--<div class="col-md-8 menuwrap">
    <h3>Country Profiles</h3>
      <ul>
        <li>Austria</li>
        <li>Belgium</li>
        <li>Bulgaria</li>
        <li>Croatia</li>
        <li>Cyprus</li>
        <li>CzechRepublic</li>
        <li>Denmark</li>
        <li>Estonia</li>
        <li>Finland</li>
        <li>France</li>
        <li>Germany</li>
        <li>Greece</li>
        <li>Hungary</li>
        <li>Ireland</li>
        <li>Italy</li>
        <li>Latvia</li>
        <li>Lithuania</li>
        <li>Luxembourg</li>
        <li>Malta</li>
        <li>Netherlands</li>
        <li>Poland</li>
        <li>Portugal</li>
        <li>Romania</li>
        <li>Slovakia</li>
        <li>Slovenia</li>
        <li>Spain</li>
        <li>Sweden</li>
        <li>United Kingdom</li>
      </ul>
    </div>--!>
  </div>
</div>

<div class="row">
  <div class="infobox col-md-3 sidebar">
  </div>
  <div class="col-md-8 mapview">
    <div class="yearwrap"><span class="year"></span></div>
    <div id="world-map-gdp" style="width: 100%; height: 600px;">
        <div class="wrap"></div>
    </div>
  </div>
</div>
<div class="row sliderwrap">
  <div id="slider"></div>
</div>
<script>
grouping = <%= @grouping.to_json.html_safe %>;
data = <%= @data.to_json.html_safe %>;
grouping = [{"code":"eu","name":"European Union","num_countries":"28","definition":"Group of countries that have come together to collaborate politically and economically.  Is organised through institutions and agreements.","":"","url":"http://europa.eu/index_en.htm","wiki_url":"http://en.wikipedia.org/wiki/European_Union","established":"1992","color":"#4BEF62"},{"code":"eurozone","name":"Eurozone","num_countries":"18","definition":"EU member states that have adopted the euro (€) as their common currency.","":"","url":"http://www.ecb.europa.eu/home/html/index.en.html","wiki_url":"","established":"2002","color":"#B634BB"},{"code":"coe","name":"Council of Europe","num_countries":"47","definition":"Organization of countries that have signed the European Convention on Human Rights to protect human rights, democracy and the rule of law.","":"","url":"http://hub.coe.int/","wiki_url":"http://en.wikipedia.org/wiki/Council_of_Europe","established":"1949","color":"#009E60"},{"code":"eucu","name":"EU Customs Union","num_countries":"32","definition":"EU member states and four others that have agreed on the free movement of good across their boarders.  Jointly negotiate on trade with other organizations in the world.","":"","url":"","wiki_url":"http://en.wikipedia.org/wiki/European_Union_Customs_Union","established":"1958","color":"#00A5DB"},{"code":"schengen","name":"SchengenArea","num_countries":"26","definition":"Countries that have agreed to let people move freely across their boarders, without the need of passport controls.","":"","url":"","wiki_url":"http://en.wikipedia.org/wiki/Schengen_Area","established":"1995","color":"#54BC00"},{"code":"efta","name":"EFTA","num_countries":"4","definition":"Organization of countries to collabote with the EU in trade.","":"","url":"http://www.efta.int/","wiki_url":"http://en.wikipedia.org/wiki/European_Free_Trade_Association","established":"1960","color":"#D81E05"}];
data = [{"name":"Austria","gis":"AUT","capital":"Vienna","capital_x":"100","capital_y":"130","population":"8.3 million","landmass":"83870","gdp":0,"currency":"€, EUR","eu_at":1995,"eurozone_at":1999,"coe_at":1956,"eucu":"1","schengen_at":1995,"efta_at":"1960-1995"},{"name":"Belgium","gis":"BEL","capital":"Brussels","capital_x":"50","capital_y":"300","population":"10.7 milion","landmass":"30528","gdp":0,"currency":"€, EUR","eu_at":1952,"eurozone_at":1999,"coe_at":1949,"eucu":"1","schengen_at":1985,"efta_at":""},{"name":"Bulgaria","gis":"BGR","capital":"Sofia","capital_x":"12","capital_y":"44","population":"7.6 million","landmass":"111990","gdp":0,"currency":"lev (лв), BGN","eu_at":2007,"eurozone_at":0,"coe_at":1992,"eucu":"1","schengen_at":0,"efta_at":""},{"name":"Croatia","gis":"HRV","capital":"Zagreb","capital_x":"242","capital_y":"23","population":"4.4 million","landmass":"56594","gdp":0,"currency":"kuna, HRK","eu_at":2013,"eurozone_at":2015,"coe_at":0,"eucu":"","schengen_at":0,"efta_at":"Y"},{"name":"Cyprus","gis":"CYP","capital":"Nicosia","capital_x":"500","capital_y":"230","population":"0.8 million","landmass":"9250","gdp":0,"currency":"€, EUR","eu_at":2004,"eurozone_at":2008,"coe_at":1961,"eucu":"1","schengen_at":0,"efta_at":""},{"name":"Czech Republic","gis":"CZE","capital":"Prague","capital_x":"120","capital_y":"33","population":"10.5 million","landmass":"78866","gdp":0,"currency":"koruna (Kč), ZCK","eu_at":2004,"eurozone_at":0,"coe_at":1993,"eucu":"1","schengen_at":2007,"efta_at":""},{"name":"Denmark","gis":"DNK","capital":"Copenhagen","capital_x":"100","capital_y":"11","population":"5.5 million","landmass":"43094","gdp":0,"currency":"krone (kr), DKK","eu_at":1973,"eurozone_at":0,"coe_at":1949,"eucu":"1","schengen_at":1996,"efta_at":"1960-1973"},{"name":"Estonia","gis":"EST","capital":"Tallin","capital_x":"66","capital_y":"231","population":"1.3 million","landmass":"45000","gdp":0,"currency":"€, EUR","eu_at":2004,"eurozone_at":2011,"coe_at":1993,"eucu":"1","schengen_at":2007,"efta_at":""},{"name":"Finland","gis":"FIN","capital":"Helsinki","capital_x":"123","capital_y":"321","population":"5.3 million","landmass":"338000","gdp":0,"currency":"€, EUR","eu_at":1995,"eurozone_at":1999,"coe_at":1989,"eucu":"1","schengen_at":1996,"efta_at":"1961-1995"},{"name":"France","gis":"FRA","capital":"Paris","capital_x":"133","capital_y":"222","population":"64.3 million","landmass":"550000","gdp":0,"currency":"€, EUR","eu_at":1952,"eurozone_at":1999,"coe_at":1949,"eucu":"1","schengen_at":1985,"efta_at":""},{"name":"Germany","gis":"DEU","capital":"Berlin","capital_x":"10","capital_y":"20","population":"82 million","landmass":"356854","gdp":0,"currency":"€, EUR","eu_at":1952,"eurozone_at":1999,"coe_at":1950,"eucu":"1","schengen_at":1985,"efta_at":""},{"name":"Greece","gis":"GRC","capital":"Athens","capital_x":"30","capital_y":"60","population":"11.2 million","landmass":"131957","gdp":0,"currency":"€, EUR","eu_at":1981,"eurozone_at":2001,"coe_at":1949,"eucu":"1","schengen_at":1992,"efta_at":""},{"name":"Hungary","gis":"HUN","capital":"Budapest","capital_x":"50","capital_y":"100","population":"10 million","landmass":"93000","gdp":0,"currency":"forint (Ft), HUF","eu_at":2004,"eurozone_at":0,"coe_at":1990,"eucu":"1","schengen_at":2007,"efta_at":""},{"name":"Ireland","gis":"IRL","capital":"Dublin","capital_x":"70","capital_y":"140","population":"4.5 million","landmass":"70000","gdp":0,"currency":"€, EUR","eu_at":1973,"eurozone_at":1999,"coe_at":1949,"eucu":"1","schengen_at":0,"efta_at":""},{"name":"Italy","gis":"ITA","capital":"Rome","capital_x":"90","capital_y":"180","population":"50 million","landmass":"301263","gdp":0,"currency":"€, EUR","eu_at":1952,"eurozone_at":1999,"coe_at":1949,"eucu":"1","schengen_at":1990,"efta_at":""},{"name":"Latvia","gis":"LVA","capital":"Riga","capital_x":"110","capital_y":"220","population":"2.3 million","landmass":"65000","gdp":0,"currency":"€, EUR","eu_at":2004,"eurozone_at":2013,"coe_at":1995,"eucu":"1","schengen_at":2007,"efta_at":""},{"name":"Lithuania","gis":"LTU","capital":"Vinius","capital_x":"130","capital_y":"260","population":"3.3 million","landmass":"65000","gdp":0,"currency":"litas (Lt), LTL","eu_at":2004,"eurozone_at":0,"coe_at":1993,"eucu":"1","schengen_at":2007,"efta_at":""},{"name":"Luxembourg","gis":"LUX","capital":"Luxembourg","capital_x":"150","capital_y":"300","population":"0.5 million","landmass":"2586","gdp":0,"currency":"€, EUR","eu_at":1952,"eurozone_at":1999,"coe_at":1949,"eucu":"1","schengen_at":1985,"efta_at":""},{"name":"Malta","gis":"MLT","capital":"Valletta","capital_x":"170","capital_y":"340","population":"0.4 million","landmass":"316","gdp":0,"currency":"€, EUR","eu_at":2004,"eurozone_at":2008,"coe_at":1965,"eucu":"1","schengen_at":2007,"efta_at":""},{"name":"Netherlands","gis":"NLD","capital":"Amsterdam","capital_x":"190","capital_y":"380","population":"16.4 million","landmass":"41526","gdp":0,"currency":"€, EUR","eu_at":1952,"eurozone_at":1999,"coe_at":1949,"eucu":"1","schengen_at":1985,"efta_at":""},{"name":"Poland","gis":"POL","capital":"Warsaw","capital_x":"210","capital_y":"420","population":"38.1 million","landmass":"312679","gdp":0,"currency":"Zloty (zł)","eu_at":2004,"eurozone_at":0,"coe_at":1991,"eucu":"1","schengen_at":2007,"efta_at":""},{"name":"Portugal","gis":"PRT","capital":"Lisbon","capital_x":"230","capital_y":"460","population":"10.6 million","landmass":"92072","gdp":0,"currency":"€, EUR","eu_at":1986,"eurozone_at":1999,"coe_at":1976,"eucu":"1","schengen_at":1991,"efta_at":"1960-1986"},{"name":"Romania","gis":"ROU","capital":"Bucharest","capital_x":"250","capital_y":"500","population":"21.5 million","landmass":"237500","gdp":0,"currency":"leu, RON","eu_at":2007,"eurozone_at":0,"coe_at":1993,"eucu":"1","schengen_at":0,"efta_at":""},{"name":"Slovakia","gis":"SVK","capital":"Bratislava","capital_x":"270","capital_y":"540","population":"5.4 million","landmass":"48845","gdp":0,"currency":"€, EUR","eu_at":2004,"eurozone_at":2009,"coe_at":1993,"eucu":"1","schengen_at":2007,"efta_at":""},{"name":"Slovenia","gis":"SVN","capital":"Ljubljana","capital_x":"290","capital_y":"580","population":"2 million","landmass":"20273","gdp":0,"currency":"€, EUR","eu_at":2004,"eurozone_at":2007,"coe_at":1993,"eucu":"1","schengen_at":2007,"efta_at":""},{"name":"Spain","gis":"ESP","capital":"Madrid","capital_x":"310","capital_y":"620","population":"45.8 million","landmass":"504782","gdp":0,"currency":"€, EUR","eu_at":1986,"eurozone_at":1999,"coe_at":1977,"eucu":"1","schengen_at":1991,"efta_at":""},{"name":"Sweden","gis":"SWE","capital":"Stockholm","capital_x":"330","capital_y":"660","population":"9.2 million","landmass":"449964","gdp":0,"currency":"krona (kr), SEK","eu_at":1995,"eurozone_at":0,"coe_at":1949,"eucu":"1","schengen_at":1996,"efta_at":"1960-1995"},{"name":"United Kingdom","gis":"GBR","capital":"London","capital_x":"350","capital_y":"700","population":"61.7 million","landmass":"244820","gdp":0,"currency":"pound sterling (£), GBP","eu_at":1973,"eurozone_at":0,"coe_at":1949,"eucu":"1","schengen_at":0,"efta_at":"1960-1973"},{"name":"Andorra","gis":"AND","capital":"Andorra la Vella","capital_x":"370","capital_y":"740","population":"","landmass":"","gdp":0,"currency":"","eu_at":0,"eurozone_at":0,"coe_at":0,"eucu":"1","schengen_at":0,"efta_at":""},{"name":"Monaco","gis":"MCO","capital":"Monaco","capital_x":"390","capital_y":"780","population":"","landmass":"","gdp":0,"currency":"","eu_at":0,"eurozone_at":0,"coe_at":0,"eucu":"1","schengen_at":0,"efta_at":""},{"name":"San Marino","gis":"SMR","capital":"Sam Marino","capital_x":"410","capital_y":"820","population":"","landmass":"","gdp":0,"currency":"","eu_at":0,"eurozone_at":0,"coe_at":0,"eucu":"1","schengen_at":0,"efta_at":""},{"name":"Turkey","gis":"TUR","capital":"Istanbul","capital_x":"430","capital_y":"860","population":"","landmass":"","gdp":0,"currency":"","eu_at":0,"eurozone_at":0,"coe_at":0,"eucu":"1","schengen_at":0,"efta_at":""},{"name":"Liechtenstein","gis":"LIE","capital":"Vaduz","capital_x":"450","capital_y":"900","population":"","landmass":"","gdp":0,"currency":"","eu_at":0,"eurozone_at":0,"coe_at":0,"eucu":"","schengen_at":2008,"efta_at":""},{"name":"Norway","gis":"NOR","capital":"Oslo","capital_x":"470","capital_y":"940","population":"","landmass":"","gdp":0,"currency":"","eu_at":0,"eurozone_at":0,"coe_at":0,"eucu":"1","schengen_at":1996,"efta_at":""},{"name":"Iceland","gis":"ISL","capital":"Rekjavik","capital_x":"490","capital_y":"980","population":"","landmass":"","gdp":0,"currency":"","eu_at":0,"eurozone_at":0,"coe_at":0,"eucu":"1","schengen_at":1996,"efta_at":"1991"},{"name":"Switzerland","gis":"CHE","capital":"Bern","capital_x":"510","capital_y":"1020","population":"","landmass":"","gdp":0,"currency":"","eu_at":0,"eurozone_at":0,"coe_at":0,"eucu":"","schengen_at":2004,"efta_at":"1960"},{"name":"","gis":"","capital":"","capital_x":"","capital_y":"","population":"","landmass":"","gdp":0,"currency":"","eu_at":0,"eurozone_at":0,"coe_at":0,"eucu":"","schengen_at":0,"efta_at":"1970"},{"name":"","gis":"","capital":"","capital_x":"","capital_y":"","population":"","landmass":"","gdp":0,"currency":"","eu_at":0,"eurozone_at":0,"coe_at":0,"eucu":"","schengen_at":0,"efta_at":"1960"}];

var countries = new CountryList(data);
$(function(){
  load_color_map();
  load_megamenu();
  year = 2014;
  load_checkboxes();
  load_slider(year);
  load_grouping(grouping);
  $( window ).resize(setMapScale);
});
</script>
