<div class="row">
  <div class="col-md-2 sidebar">
    <h1>Council of Europe</h1>
    <div id="more">
    <h5>Overview</h5>
    <span class="caret sidebar"></span>
    </div>
    <h1>Eurozone</h1>
    <div id="more">
    <h5>Overview</h5>
    <span class="caret sidebar"></span>
    </div>

  </div>
  <div class="col-md-10 mapview">
    <div class="yearwrap"><span class="year"></span></div>
    <div id="world-map-gdp" style="width: 100%; height: 600px;">
        <div class="wrap"></div>
    </div>
  </div>
</div>
<div class="row sliderwrap">
  <div id="slider"></div>
</div>
<script>
  var map;
  var current_map = '';
  function load_map(name) { 
    if (name == window.current_map) 
      return; // noop
    window.current_map = name;
    $('#world-map-gdp .wrap').remove();
    $('#world-map-gdp').html('<div class="wrap"></div>');
    window.map = new jvm.WorldMap({
      container: $('#world-map-gdp .wrap'),
      map: name,
      zoomOnScroll: false,
      zoomMax: 1,
      zoomMin: 1,
      series: {
        regions: [{
          values: {},
          scale: ['#C8EEFF', '#E7A329'],
          normalizeFunction: 'polynomial'
        }]
      },
      onLabelShow: function(e, el, code){
        el.html(el.html()+' (GDP - '+gdpData[code]+')');
      },
      onRegionClick: function(e, el, code) { 
        alert(el); 
      }
    });

  }
  $(function(){
    load_map('1945_mill_en');
    $( "#slider" ).slider({
        min: 1945,
        max: 2014,
        step: 1,
        animate: 'fast',
        slide: function( event, ui ) {
          $(".year").text(ui.value);
          if(ui.value < 1960) { 
            load_map('1945_mill_en');
          } else if(ui.value < 1995) { 
            load_map('1994_mill_en');
          } else { 
            load_map('2013_mill_en');
          }
          window.map.series.regions[0].clear();
          window.map.series.regions[0].setValues(getCoe(ui.value));
        }
     });
  });

function getCoe(current_year) { 
  result = _.filter(window.coe, function(countries, year) { 
    return year <= current_year; 
  });
  out = {};
  _.each(_.flatten(result), function(country) { 
   out[country] = 12; 
  });
  return out;
}
coe = {
1949: ['GRC','BEL','DNK', 'FRA','IRL','ITA','LUX','NLD','SWE','GBR'] ,
1950: ['DEU'],
1956: ['AUT'],
1961: ['CYP'],
1965: ['MLT'],
1976: ['PRT'],
1977: ['ESP'],
1989: ['FIN'],
1990: ['HUN'],
1992: ['BGR'],
1993: ['CZE','EST','LIT','ROU','SVK','SVN'],
1991: ['POL'],
1995: ['LVA'],
2007: ['MNE']
}
</script>
