/*
 *= require jquery.ui.all
 */
@import "bootstrap";
@import "../../../vendor/assets/stylesheets/jquery-jvectormap-1.2.2";

$accentColour: #E7A329;


body, h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .text-muted, .checkbox{
  font-family:'Roboto', sans-serif;
  font-weight:100;
  color:#888;
}

.the-caret {
  font-size: 10px;
  color: #666;
}

h1 {
border-bottom:1px dotted #ddd;
padding-bottom:20px;

}

h5 {
  font-family:'Roboto', sans-serif;
  color:#aaa;
  font-size:12px;
  font-weight:400;
  text-transform:uppercase;
  display:inline;
}

h3 {
  font-weight:300;
}

p {
  padding: 10px 10px 10px 0px;
}

a {
  color:#E7A329;
}

a:hover{
  color:#E7A329;
}

.checkbox {
  margin-left:15px;
}

.checkbox label{
  font-weight:100;
}

.megamenu {
  background:#efefef;
  padding-left:50px;
  padding-top:10px;
  padding-bottom:40px;
  border-bottom:1px solid #ddd;
}

  .megamenu ul {
  list-style-type:none;
  }

  .col-md-8 li {
    display: block;
    width: 20%;
    float: left;
  }

.col-md-2.menuwrap {
padding-left:30px;
  h1 {
  padding-bottom:20px;
  }
}

.col-md-2.sidebar {
border-bottom:1px solid #ddd;
padding-left:30px;
padding-bottom:20px;
}

  .col-md-2.sidebar ul{
    list-style-type:none;
  }

.col-md-10.mapview {
  padding-left:0px;
  position: relative;
}

.text-muted { 
  font-size: 80px;
  padding-top: 20px;
  margin-left:50px;
}


#more {
  padding-bottom:30px;
  border-bottom: 1px solid #ddd;
}

#more h5{
padding:0px;
}

#slider {
  background: $accentColour;
  border:none;
}

  .ui-state-default, .ui-widget-content .ui-state-default {
  background:#666;
  border:none;
  height:30px;
  width:10px;
  top: -.6em;
  margin-left:10px;
  }

.sliderwrap {
  background:#efefef;
  height: 200px;
  padding:50px;
}
.yearwrap { 
  font-size: 40px;
  position: absolute;
  z-index: 100;
  color: #FFF;
  bottom: 20px;
  left: 50px;
}
.wrap { 
  width: 100%;
  height: 600px;
}

.jvectormap-zoomin, .jvectormap-zoomout {
  display:none;
}

.tips {
  position: absolute;
  width: 200px;
  height: 300px;
  border: 1px solid #555;
  background: #AEAEAE;
  color: #444;
}
