/*
 *= require jquery.ui.all
 */
@import "bootstrap";
@import "../../../vendor/assets/stylesheets/jquery-jvectormap-1.2.2";
@import "../../../vendor/assets/stylesheets/bootstrap-switch.min";

$accentColour: #f39c12;
.wrapper.horizontal { width: 400px; margin: auto; }
.wrapper.vertical { position: relative; width: 400px; height: 250px; margin: auto; }
.wrapper.vertical > div { position: absolute; top: 0; }
.wrapper.vertical .ui-slider { height: 250px; }

.ui-slider-wrapper { position: relative; }
.ui-slider-wrapper .ui-slider-horizontal { width: 100%; }

.ui-slider-labels { position: absolute; border: 1px solid transparent; }
.ui-slider-label-ticks { border: 1px solid transparent; position: absolute; white-space: nowrap; }
.ui-slider-label-ticks span { font-size: 0.9em; min-width: 1.2em; }

.ui-slider-wrapper.horizontal { height: 4.5em; }
.horizontal .ui-slider-labels { left: 0; right: 0; top: 0.7em }
.horizontal .ui-slider-label-ticks { width: 1.2em; height: .8em; text-align: center; border-left: 1px solid #999; }
.horizontal .ui-slider-label-ticks span { position: relative; display: inline-block; margin-left: -1.2em; top: .8em; }

.ui-slider-wrapper.vertical { width: 4.5em; }
.vertical .ui-slider-labels { top: 1px; bottom: 0; left: 0.7em; }
.vertical .ui-slider-label-ticks { height: 1.2em; width: 0.8em; border-bottom: 1px solid #999; }
.vertical .ui-slider-label-ticks span { position: relative; display: inline-block; margin-left: 1em; top: .6em; }

body, h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .heading, .checkbox,  text, label, .ui-slider-labels, .key_date {
  font-family:'Raleway', sans-serif;
  font-weight:300;
  color:#888;
}
.ui-slider-labels {
  margin-left: 1%;
}

body {
  background-color:#ecf0f1;
}

h1 {
    border-bottom:1px dotted #ddd;
    padding-bottom:10px;
    font-size:20px;
}

h3 {
  font-weight:300;
}

h4 {
  color:#aaa;
  font-size:10px;
  font-weight:300;
  display:inline;
  text-transform:uppercase;
}

h5  {
  color:#aaa;
  font-size:12px;
  font-weight:400;
  text-transform:uppercase;
  display:inline;
  letter-spacing:1px;
}

p {
  font-size:18px;
}

a {
  color:$accentColour;
}

a:hover{
  color:#e67e22;
  text-decoration:none;
}

text {
  font-size: 9px;
  font-weight: 400;
}

#intro {
  height:800px;
  background:$accentColour;
  position:relative;
  z-index:3000;
  
  .header {
    padding-top: 200px;
    
    .heading {
      font-size:80px;
      padding-left:30px;
      font-weight:700;
      color:#CF5D03;
      text-align:center;
      padding-bottom:28px;
      border-bottom:none;
        &:hover{
        color:#C05907;
        }
    }
  
    .intro-blurb {
      width:800px;
      margin:0 auto;
      text-align:center;
      font-size:28px;
      font-weight:300;
      padding:10px 0px;
      color:#fff;
    }
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
#stars img
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         10s; 
    -webkit-animation-iteration-count:  1;
    -webkit-animation-timing-function: linear;
    }


#flag {
  width:850px;
  margin:0 auto;
  padding:50px 0px;
  z-index:1;
  position:relative;
  top:-810px;
  left:20px;
}


#stars {
  height:150px;
  width:150px;
  margin:0 auto;
  margin-top:40px;
  z-index:2;
  position:relative;
}


#interactive {
  margin:0 auto;
  margin-top:30px;
}

label {
  font-size:18px;
  padding-right:40px;
  span {
  font-weight:400;
  } 
}


.year {
    font-weight:500;  
    color:#fff; 
}

.checkbox {
  margin-left:15px;
}

.checkbox label{
  font-weight:100;
}

  .configure-band a {
    color:#999;
  }

  .configure-band a:hover{
    text-decoration:none;
  }

.ui-slider-labels {
  font-weight:300;
  font-size:18px;
  color:#aaa;
}

  .col-md-8 li {
    display: block;
    width: 20%;
    float: left;
  }

span.bootstrap-switch-wie {
 color:#fff !important;
 background:$accentColour;
}

span.bootstrap-switch-handle-on {
  color:#fff !important;
}

.row {
  margin:0 auto;
}

.menuwrap {
  background-color: #BBB9B2;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
    label {
      color:#fff;
      font-weight:400;
    }
}

.col-md-3 {
  margin-left:30px;
  margin-right:0px;
}

.col-md-3 .sidebar {
background:#fff;
padding-left:20px;

  .glyphicon:empty {
  width: 1.2em;
  font-size:20px;
  margin-right:10px;
  }
    
    .chevron {
        font-size:20px;
        padding-left:10px;
        color:#ccc;
    }
}

  .col-md-3 .sidebar ul{
    list-style-type:none;
  }

.col-md-8.mapview {
  padding-left:0px;
  position: relative;
}

.panel-group {
  overflow: scroll;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top:none;
  padding-top:0px;
  padding-bottom:0px;
}
.panel-collapse {
  border-top: 0px;
}

.panel-body {
  ul {
  }
}

.panel-heading {
  padding:0px;
  h1 a {
    color: #999;
  }
  h1 a:hover{
    color:$accentColour;
  }
  a.fill_color {
    float: right;
  }
}

.slug {
  width:100px;
  height:100px;
  background-color:#A9AFB4;
  margin:0px 0px 20px 0px;
}


#slider {
  background: $accentColour;
  border:none;
}

  .ui-state-default, .ui-widget-content .ui-state-default {
  background:#666;
  border:none;
  height:30px;
  width:10px;
  top: -.6em;
  margin-left:10px;
  }

.sliderwrap {
  height: 150px;
  padding:30px 50px;
  margin-bottom:100px;
}
.yearwrap {
  font-size: 40px;
  position: absolute;
  z-index: 100;
  color: #ecf0f1;
  bottom: 20px;
  left: 30px;
}
.wrap {
  width: 100%;
  height: 600px;
}

.jvectormap-zoomin, .jvectormap-zoomout {
  display:none;
}
.key_date {
  position: absolute;
  height: 135px;
  display: none;
  border-left: 1px solid #fff;
  padding-left:5px;
  p {
    padding-top: 35px;
    strong {
      font-weight: 700;
      display: block;
      font-size: 30px;
    }
    font-size: 16px;
  }
}
.ui-slider-wrapper .notch {
}
.notch {
  position: absolute;
  width: 18px;
  height: 18px;
  top: -4px;
  background: #FAFAFA;
  border-radius: 10px;
  border: 5px solid #D8851B;
  cursor:pointer;
    &:hover{
    border: 3px solid #D8851B;
    }
}
.tips {
  position: absolute;
  width: 200px;
  height: 300px;
  border: 1px solid #555;
  background: #263545;
  opacity:0.95;
  h5 {

  }
  p {
    color: #ccc;
  }
  h4 {
    color:#aaa;
  }

  h3 {
  font-weight:100;
  color:#eee;
  padding-bottom:5px;
  margin-top:10px;
  border-bottom: 1px dotted #888;
}

  .glyphicon {
    float:right;
    font-size:12px;
    color:#fff;
  }
}
.footer {
  text-align: center;
  p{
    font-size:10px;
    color:#fff;
  }
}
