/*
 *= require jquery.ui.all
 */
@import "bootstrap";
@import "../../../vendor/assets/stylesheets/jquery-jvectormap-1.2.2";
@import "../../../vendor/assets/stylesheets/bootstrap-switch.min";

$accentColour: #FFA00A;
.wrapper.horizontal { width: 400px; margin: auto; }
.wrapper.vertical { position: relative; width: 400px; height: 250px; margin: auto; }
.wrapper.vertical > div { position: absolute; top: 0; }
.wrapper.vertical .ui-slider { height: 250px; }

.ui-slider-wrapper { position: relative; }
.ui-slider-wrapper .ui-slider-horizontal { width: 100%; }

.ui-slider-labels { position: absolute; border: 1px solid transparent; }
.ui-slider-label-ticks { border: 1px solid transparent; position: absolute; white-space: nowrap; }
.ui-slider-label-ticks span { font-size: 0.9em; min-width: 1.2em; }

.ui-slider-wrapper.horizontal { height: 4.5em; }
.horizontal .ui-slider-labels { left: 0; right: 0; top: 0.7em }
.horizontal .ui-slider-label-ticks { width: 1.2em; height: .8em; text-align: center; border-left: 1px solid #CFCEC9; }
.horizontal .ui-slider-label-ticks span { position: relative; display: inline-block; margin-left: -1.2em; top: .8em; }

.ui-slider-wrapper.vertical { width: 4.5em; }
.vertical .ui-slider-labels { top: 1px; bottom: 0; left: 0.7em; }
.vertical .ui-slider-label-ticks { height: 1.2em; width: 0.8em; border-bottom: 1px solid #999; }
.vertical .ui-slider-label-ticks span { position: relative; display: inline-block; margin-left: 1em; top: .6em; }


/* General Styling */

body, h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .heading, .checkbox,  text, label, .ui-slider-labels, .key_date {
  font-family:'Raleway', sans-serif;
  font-weight:300;
  color:#888;
}
.ui-slider-labels {
  margin-left: 1%;
}

body {
  background-color:#ecf0f1;
}


h1 {
    border-bottom:1px dotted #ddd;
    padding-bottom:10px;
    font-size:20px;
}

h3 {
  font-weight:300;
}

h4 {
  color:#aaa;
  font-size:10px;
  font-weight:300;
  display:inline;
  text-transform:uppercase;
}

h5  {
  color:#aaa;
  font-size:12px;
  font-weight:400;
  text-transform:uppercase;
  display:inline;
  letter-spacing:1px;
}

p {
  font-size:18px;
}

a {
  color:$accentColour;
}

a:hover{
  color:#e67e22;
  text-decoration:none;
}

text {
  font-size: 9px;
  font-weight: 400;
}


/* Section 1 - Intro */

.intro {
  height:800px;
  background:$accentColour;

  .header {
    padding-top: 150px;
    position:relative;
    z-index:1;
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -moz-animation: fadein 0.5s; /* Firefox */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    animation: fadein 0.5s;

    h1 {
      font-size:80px;
      padding-left:30px;
      font-weight:700;
      color:#fff;
      text-align:center;
      padding-bottom:28px;
      border-bottom:none;
    }

    .blurb {
      width:800px;
      margin:0 auto;
      text-align:center;
      font-size:28px;
      font-weight:300;
      padding:10px 0px;
      color:#CF5D03;
    }
  }
}

#bg-animation {
  width:250px;
  margin:0 auto;
  margin-top:30px;
  position:relative;
  z-index:1;
  /*for hover transition */
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
    img {
      background-color: #E07E01;
      border-radius: 200px;
      -webkit-animation: fadein 2s; /* Safari and Chrome */
      -moz-animation: fadein 2s; /* Firefox */
      -ms-animation: fadein 2s; /* Internet Explorer */
      animation: fadein 2s;
    }
    &:hover{
      opacity:0.8;
    }
}

/* Keyframes and Animations */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​


/* Section 2 - Interactive */

.interactive {
  margin:0 auto;
}

label {
  font-size:18px;
  padding-right:40px;
  span {
  font-weight:400;
  }
}


.year {
    font-weight:500;
    color:#A8A5A0;
}

.checkbox {
  margin-left:15px;
}

.checkbox label{
  font-weight:100;
}

  .configure-band a {
    color:#999;
  }

  .configure-band a:hover{
    text-decoration:none;
  }

.ui-slider-labels {
  font-weight:300;
  font-size:18px;
  color:#CFCEC9;
}

  .col-md-8 li {
    display: block;
    width: 20%;
    float: left;
  }

span.bootstrap-switch-wie {
 color:#fff !important;
 background:$accentColour;
}

span.bootstrap-switch-handle-on {
  color:#fff !important;
}

.row {
  margin:0 auto;
}

.menuwrap {
  background-color: #BBB9B2;
  padding:15px 20px 10px 20px;
  border-bottom: 1px dotted #ccc;
    label {
      color:#fff;
      font-weight:400;
    }

    .glyphicon {
      font-size:16px;
      margin-right:10px;
    }
}

.col-md-3 {
  margin-left:30px;
  margin-right:0px;
  margin-top:30px;
}

.col-md-3 .sidebar {
background:#fff;
padding:0px 20px;

  .glyphicon:empty {
  width: 1.2em;
  font-size:20px;
  }

    .chevron {
        font-size:22px;
        color:#ccc;
    }
}

  .col-md-3 .sidebar ul{
    list-style-type:none;
  }

.col-md-8.mapview {
  padding-left:0px;
  position: relative;
  margin-top:30px;
}

.panel-group {
  overflow: scroll;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top:none;
  padding-top:0px;
  padding-bottom:0px;
}
.panel-collapse {
  border-top: 0px;
}

.panel-body {
  ul {
  }
}

.panel-heading {
  padding:0px;
  h1 a {
    color: #999;
  }
  h1 a:hover{
    color:$accentColour;
  }
  a.fill_color {
    float: right;
  }
}

.slug {
  width:100px;
  height:100px;
  background-color:#A9AFB4;
  margin:0px 0px 20px 0px;
}


#slider {
  background: $accentColour;
  border:none;
}

  .ui-state-default, .ui-widget-content .ui-state-default {
  background:#666;
  border:none;
  height:30px;
  width:10px;
  top: -.6em;
  margin-left:10px;
  }

.sliderwrap {
  height: 150px;
  padding:30px 50px;
  margin-bottom:50px;
}
.yearwrap {
  font-size: 40px;
  position: absolute;
  z-index: 100;
  color: #ecf0f1;
  bottom: 20px;
  left: 30px;
}
.wrap {
  width: 100%;
  height: 600px;
}

.jvectormap-zoomin, .jvectormap-zoomout {
  display:none;
}
.key_date {
  position: absolute;
  height: 118px;
  display: none;
  border-left: 1px solid #fff;
  padding-left:5px;
  p {
    padding-top: 35px;
    strong {
      font-weight: 700;
      display: block;
      font-size: 30px;
    }
    font-size: 16px;
  }
}

.notch {
  position: absolute;
  width: 18px;
  height: 18px;
  top: -4px;
  background: #FAFAFA;
  border-radius: 10px;
  border: 5px solid #D8851B;
  cursor:pointer;
    &:hover{
    border: 3px solid #D8851B;
    }
}
.tips {
  position: absolute;
  width: 200px;
  height: 300px;
  border: 1px solid #555;
  background: #263545;
  opacity:0.95;
  h5 {

  }
  p {
    color: #ccc;
  }
  h4 {
    color:#aaa;
  }

  h3 {
  font-weight:100;
  color:#eee;
  padding-bottom:5px;
  margin-top:10px;
  border-bottom: 1px dotted #888;
}

  .glyphicon {
    float:right;
    font-size:12px;
    color:#fff;
  }
}
/* general sections */
.what_is_europe,
.who_is_europe,
.europe_over_time,
.intro {
  h1 {
    font-size:40px;
    font-weight:700;
    text-align:center;
    padding-bottom:28px;
    border-bottom:none;
    margin-top: 0px;
    padding-top:30px;
  }

  height: 750px;
}
/* What is europe */
.what_is_europe {
  background: #007282;
  h1 {
    color: #FFF;
  }
}

/* Who is europe */
.who_is_europe {
  background-color:#CF5D03;
  margin:0 auto;
  padding: 30px 0px;
  color: #FFF;
  h1 {
    color: #FFF;
  }
  p {
    text-align:center;
  }

}

.footer {
  text-align: center;
  background-color:#CF5D03;
  padding:20px;
    p{
      font-size:10px;
      color:#A24A06;
    }
}

