<!DOCTYPE html>
<html>
<head>
  <title>WieWeb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-liquid">
    <div class="header">
      <ul class="nav nav-pills pull-right">
      </ul>
      <h1 class="text-muted">What is Europe?</h3>
    </div>


      <%= yield %>

    <div class="footer">
      <p>&copy; </p>
    </div>

  </div>

</body>
</html>
