<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700' rel='stylesheet' type='text/css'>
  <title>What is Europe?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-liquid">
     <div class="intro"> 
      <div class="header">
        <ul class="nav nav-pills pull-right">
        </ul>
        <a href="http://whatiseurope.org" ><h1>What is Europe?</h1></a>
        <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia lectus vel ipsum ultricies, eu ullamcorper turpis volutpat.
        </p>
      </div>
      <div id="bg-animation"><img src="/assets/eu.svg" alt="EU"></div>
      <!--<div id="stars"><img src="/assets/stars.png" alt="EU" width="200" height="200"></div>--!>
    </div>
      <%= yield %>
    <div class="infographics">      
        <h1>Infographics and Data Visualizations</h1>
        <p>Something goes here!</p>
    </div>
    
    <div class="footer">
      <p>Copyright 2014. All Rights Reserved</p>
    </div>
    
  </div>

</body>
</html>
