<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500' rel='stylesheet' type='text/css'>
  <title>What is Europe?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-liquid">
    <div class="header">
      <ul class="nav nav-pills pull-right">
      </ul>
      <h1 class="text-muted">What is Europe?</h1>
    </div>
      <%= yield %>
    <div class="footer">
      <p>Copyright 2014. All Rights Reserved</p>
    </div>

  </div>

</body>
</html>
