<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500' rel='stylesheet' type='text/css'>
  <title>WieWeb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-liquid">
    <div class="header">
      <ul class="nav nav-pills pull-right">
      </ul>
      <h1 class="text-muted">What is Europe?</h1>
    </div>
    <div class="megamenu">
      <span class="glyphicon glyphicon-cog"></span> <h5>Configure/Filter</h5> <span class="caret"></span>
      <div class="row">
        <div class="col-md-4 menuwrap">
        <h3>Institutions/Groupings</h3>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Council of Europe
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            European Customs Union
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            European Free Trade Agreement (EFTA)
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            European Union (EU)
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Eurozone
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Schengen Area
          </label>
        </div>
        </div>
        <div class="col-md-8 menuwrap">
        <h3>Countries</h3>
          <ul>
            <li>Austria</li>
            <li>Belgium</li>
            <li>Bulgaria</li>
            <li>Croatia</li>
            <li>Cyprus</li>
            <li>CzechRepublic</li>
            <li>Denmark</li>
            <li>Estonia</li>
            <li>Finland</li>
            <li>France</li>
            <li>Germany</li>
            <li>Greece</li>
            <li>Hungary</li>
            <li>Ireland</li>
            <li>Italy</li>
            <li>Latvia</li>
            <li>Lithuania</li>
            <li>Luxembourg</li>
            <li>Malta</li>
            <li>Netherlands</li>
            <li>Poland</li>
            <li>Portugal</li>
            <li>Romania</li>
            <li>Slovakia</li>
            <li>Slovenia</li>
            <li>Spain</li>
            <li>Sweden</li>
            <li>United Kingdom</li>
          </ul>
        </div>
      </div>
    </div>


      <%= yield %>

    <div class="footer">
      <p>&copy; </p>
    </div>

  </div>

</body>
</html>
